In [1]:
import requests
import json
import pandas as pd
from pandas import json_normalize 
import numpy as np
import time
import datetime
from datetime import datetime
from IPython.display import clear_output

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium import webdriver
from bs4 import BeautifulSoup
import re as re
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import bs4 as bs

In [3]:
PATH = r'‪C:\chromedriver.exe'

driver = webdriver.Chrome(ChromeDriverManager().install())

C:\Users\RémiJAYLET\AppData\Local\Temp\ipykernel_19388\1679302152.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [4]:
req = "VINCI IMMOBILIER"
req = '+'.join(req.lower().split(' '))

In [5]:
#list_test = ["ORANGE", "SFR", "BOUYGUES TELECOM", "VIRGIN MOBILE"]
list_test = ['VINCI IMMOBILIER']
list_test = ['+'.join(comp.lower().split(' ')) for comp in list_test]

In [6]:
start_time = time.time()

In [7]:
#for req in list_test:
req = "VINCI IMMOBILIER"
req = '+'.join(req.lower().split(' '))
driver.get("https://annuaire-entreprises.data.gouv.fr/rechercher?terme="+req)

source=driver.page_source
doc = BeautifulSoup(source, "lxml")


t = True
while t == True :
    try :
        link = doc.find("a",{"class":'fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label'})["href"]
        nxt=driver.find_element(By.XPATH,"//a[@class='fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label']")
        nxt.click() 
        source=driver.page_source
        doc = BeautifulSoup(source, "lxml")
        data = json.loads(doc.find("script", {"type":"application/json"}).contents[0])['props']['pageProps']['results']['results']
        data_res = [{key : d[key] for key in ['siren','etatAdministratif','nomComplet']} for d in data]
        df = pd.concat([df,pd.DataFrame(data_res)])
    except :
        t = False
        nb_pages= json.loads(doc.find("script", {"type":"application/json"}).contents[0])['props']['pageProps']['results']['currentPage']
        pass

In [8]:
total_time = time.time()-start_time
print('total time: ', round(total_time, 2))
print('avg time per page: ', round(total_time/nb_pages, 2))

total time:  8.54
avg time per page:  4.27

In [9]:
print(nb_pages)

2

### Try dirigeant

In [4]:
c = pd.read_csv('../0_data/df_jug_ouverture_fermeture.csv', sep=';')

In [5]:
list_siren = list(c[26418:].SIREN.unique())

In [6]:
len(list_siren)

10000

In [7]:
list_company = []

In [18]:
init = time.time()
i = 0
for siren in list_siren[6000:]:
    i+=1
    company = {}
    
    driver.get("https://annuaire-entreprises.data.gouv.fr/dirigeants/"+str(siren))
    source=driver.page_source
    doc = BeautifulSoup(source, "lxml")

    link = doc.find_all("td",{"class":'jsx-2305131526'})
    text = [l.text for l in link]
    #print(text)
    company['siren'] = siren
    company['text'] = text
    list_company.append(company)
    
    time.sleep(0.8)

    if i%100 == 0:
        print('time searching :', round(time.time() - init, 2), 's')

time searching : 94.96 s
time searching : 189.56 s
time searching : 289.33 s
time searching : 392.55 s
time searching : 494.88 s
time searching : 596.25 s
time searching : 704.91 s
time searching : 810.89 s
time searching : 915.49 s
time searching : 1019.68 s
time searching : 1125.93 s
time searching : 1232.79 s
time searching : 1341.81 s
time searching : 1486.93 s
time searching : 1665.69 s
time searching : 1772.75 s
time searching : 1881.93 s
time searching : 1991.09 s
time searching : 2110.89 s
time searching : 2219.47 s
time searching : 2328.04 s
time searching : 2435.34 s
time searching : 2542.76 s
time searching : 2648.81 s
time searching : 2756.97 s
time searching : 2863.17 s
time searching : 2969.92 s
time searching : 3079.47 s
time searching : 3185.58 s
time searching : 3295.97 s
time searching : 3405.07 s
time searching : 3516.76 s
time searching : 3622.42 s
time searching : 3730.44 s
time searching : 3841.42 s
time searching : 3947.71 s
time searching : 4063.77 s
time searching : 4180.24 s
time searching : 4291.49 s
time searching : 4402.11 s

In [19]:
a = pd.DataFrame.from_records(list_company)

In [20]:
a.tail(100)

          siren                                               text
4544  907754444  [Gérant, Davide MINGOLLA, né(e) en novembre 19...
4545  907771265  [Président, Rachid OUSSAIH, né(e) en novembre ...
4546  907804330  [Président, Samy DJAIL, né(e) en mai 1995, → v...
4547  907872469  [Président, Fredy JOUBERT, né(e) en octobre 19...
4548  907940571  [Président, Anis JELITI, né(e) en mars 1987, →...
...         ...                                                ...
4639  973203433  [Président, Franck DISPOT, né(e) en septembre ...
4640  973204050  [Gérant, MR CAVANNA DOMINIQUE, né(e) en mars 1...
4641  997596317  [Commissaire aux comptes suppléant, Michel COQ...
4642  998269708  [Commissaire aux comptes suppléant, Bernard HI...
4643  998690606  [Gérant, Pierre SANTA MARIA, né(e) en février ...

[100 rows x 2 columns]

In [21]:
a

          siren                                               text
0     841069750  [Président, Pierre FAVRE, né(e) en mai 1991, →...
1     841070089  [Président, Mieczyslaw DENYSENKO, né(e) en jui...
2     841078413  [Président, Michaël BEN MECHICHI, né(e) en sep...
3     841080559  [Gérant, Sandro MOUTOUSSAMY, né(e) en avril 19...
4     841080617  [Président, Iskander EL HABIB, né(e) en septem...
...         ...                                                ...
4639  973203433  [Président, Franck DISPOT, né(e) en septembre ...
4640  973204050  [Gérant, MR CAVANNA DOMINIQUE, né(e) en mars 1...
4641  997596317  [Commissaire aux comptes suppléant, Michel COQ...
4642  998269708  [Commissaire aux comptes suppléant, Bernard HI...
4643  998690606  [Gérant, Pierre SANTA MARIA, né(e) en février ...

[4644 rows x 2 columns]

In [24]:
a[a.text.isna()]

Empty DataFrame
Columns: [siren, text]
Index: []